.vscode
# Built binaries
bin
# Build libraries
lib
# Object files
obj

# MacOS
.DS_Store

# Cmake
CTestTestfile.cmake
CMakeCache.txt
cmake_install.cmake
CMakeFiles
_deps
*.cmake
*.tcl
Makefile

# Testing
Testing